<!-- <br><br>
<button class="btn btn-success btn-lg login-button" (click)="login()">Already have account</button> -->
<div class="sign-up-page">
  <div class="row-md-12 sign-up-box">
    <!-- <div class="col-md-12 sign-up-form form-vertical">  -->
    <div class="col-md-12 sign-up-box-body form-vertical">
      <p class="head">Create Your Account Here</p>
      <div class="form-group row">
        <label class="control-label col-sm-4" for="name">Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
        </div>
      </div>
      <!-- <br><br> -->
      <div class="form-group row">
        <label class="control-label col-sm-4" for="fatherName">Father Name</label>
        <div class="col-sm-8">
          <input type="fatherName" class="form-control" id="fatherName" placeholder="Enter father name" name="fatherName">
        </div>
      </div>
      <!-- <br><br> -->
      <div class="form-group row">
        <label class="control-label col-sm-4" for="dateOfBirth">Date Of Birth</label>
        <div class="col-sm-8">
          <input type="date" class="form-control" id="dateOfBirth" placeholder="Enter date of birth" name="dateOfBirth">
        </div>
      </div>
      <!-- <br><br> -->
      <div class="form-group row">
        <label class="control-label col-sm-4" for="gender">Gender</label>
        <div class="col-sm-8">
          <select class="col-sm-8 dropdown" id="gender">
                                    <option value="">Select gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    
                     </select>
        </div>
      </div>
      <!-- <br><br> -->
      <div class="form-group row">
        <label class="control-label col-sm-4" for="mobile">Contact Number</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="mobile" placeholder="Enter contact number" name="mobile">
        </div>
      </div>
      <!-- <br><br> -->
      <div class="form-group row">
        <label class="control-label col-sm-4" for="email">Email Address</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
      </div>
      <!-- <br><br> -->
      <div class="form-group row">
        <label class="control-label col-sm-4" for="address">Address</label>
        <div class="col-sm-8">
          <!-- <input type="textarea" class="form-control" id="address" placeholder="Enter address" name="address"> -->
          <textarea class="form-control" id="address" rows="3" placeholder="Enter address"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <label class="control-label col-sm-4" for="country">Cuntry</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="country" placeholder="Enter country" name="country">
        </div>
      </div>

      <div class="form-group row">
        <label class="control-label col-sm-4" for="state">State</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="state" placeholder="Enter state" name="state">
        </div>
      </div>

      <div class="form-group row">
        <label class="control-label col-sm-4" for="city">City</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="city" placeholder="Enter city" name="city">
        </div>
      </div>

      <div class="form-group row">
        <label class="control-label col-sm-4" for="zipCode">Zip Code</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="zipCode" placeholder="Enter zip code" name="zipCode">
        </div>
      </div>

      <div class="form-group ">
        <div class="col-md-12 register">
          <button class="btn btn-success btn-lg login-button" (click)="signup()">Register</button>
        </div>
      </div>
      <div class="form-group ">
        <div class="col-md-12 register">
          <button class="btn btn-success btn-lg login-button" (click)="login()">Already have account</button>
        </div>
      </div>

    </div>
  </div>
</div>