.border-box{	
	/* width: 200px; */
	/* height: 200px; */
	position: relative;
	border: 10px solid rgb(14, 56, 119);  
	margin: 20px;
	/* text-align: center; */
}
.arrangement{
	padding-top: 0px;
    padding-right: 52px;
    padding-bottom: 52px;
    padding-left: 52px;
}
.button-arrangement{
	margin-bottom: 14px;
    margin-top: -25px;
    margin-left: 392px;
}
.label-style{
	font-size: 20px; 
	color:blue;
}