.sign-up-form{
    height:800px;
     background-color: #f1f1f1;
    width: 700px;
    margin-left: 300px;
    border: 4px solid #0c3059;
    margin-top: -20px;
 } 
 .head{
     margin: 0;
     text-align: center;
     padding: 50px 20px 20px 20px;
     font-size: 40px;
     font-family: cursive;
     margin-top: -60px;
 }
  .register{
     margin-left:  197px;
 }
 .sign-up-page{
     background-color: #d2d6de;
     width: 1369px;
     /* margin-top: -20px; */
     margin-left: -20px;
 
 }
 .sign-up-box{
     width: 627px;
     margin:  auto;
 }
 .sign-up-box-body{
     background : #f1f1f1;
     padding: 25px;
     border-top: 0;
     color: #666;
 }
 .dropdown{
     height: 31px;
 }
 