<div class="row login-page">
  <div class="row-md-12 login-box">
    <div class="login-box-body col-md-12">
      <div class="form-group userName row">
        <div class="col-sm-12">
           
          <label class="control-label " for="userName">User Name</label>
          <span class="input-group-addon">
              <i class="fa fa-envelope"></i>
            </span>
          <input type="text" class="form-control" [(ngModel)]="userName" id="userName" placeholder="Enter user name">
        </div>
      </div>
      <div class="form-group password row">
        <div class="col-sm-12">
          <label class="control-label" for="password">Password</label>
          <span class="input-group-addon">
              <i class="fa fa-lock"></i>
            </span><i class="fa fa-home"></i>
          <input type="password" class="form-control" [(ngModel)]="userPassword" id="userPassword" placeholder="Enter user password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <button class="btn btn-success login-button" (click)="userLogin()">Login </button>
        </div>
        <div class="col-md-12">
          <button class="btn btn-success login-button" (click)="loadUser()">Load User </button>
        </div>
      </div>
      <div class="col-md-12">
        <a class="forgot-password" routerLink="/forgot" (click)="forgot()">Forgot Password</a>
      </div>
      <div class="col-md-12 sign-up">
        <a class="forgot-password" routerLink="/registration" (click)="registration()">Sign Up</a>
      </div>
    </div>
    </div>
</div>
<!-- <div class="input-group input-group-lg">
  <span class="input-group-addon">
    <i class="fa fa-envelope"></i>
  </span>
  <input class="form-control" type="text" placeholder="Email address">
</div>
<div class="input-group input-group-lg">
  <span class="input-group-addon">
    <i class="fa fa-lock"></i>
  </span>
  <input class="form-control" type="password" placeholder="Password">
</div>
<span class="glyphicon glyphicon-pencil"></span> Pencil 
<i class="fa fa-eyedropper"></i>ppppp
<i class="fa fa-pencil"></i>ooooo -->