.login-button{
    text-align: center;
    margin-left: 146px;
    margin-top: 0px;
    width: 112px;
} 
.userName{
    color: red;
    font-size: 20px;
    margin-top: 6px;
}
.password{
   margin-top: 17px;
   color: red;
   font-size: 20px;
}
.forgot-password{
    color: red;
    font-size: 20px;
    padding-top: 0px;
}
.login-page{
    /* background: url(/assets/images/plain-high-definition.jpg); */
    background: url(/assets/images/glacier-bay-mirrors-901010-64_1000.jpg);
    /* glacier-bay-mirrors-901010-64_1000 */
   /* background-color: #d2d6de; */
   height: 700px;
   width: 1369px;
   margin-top: -151px;
   margin-left: -20px;


}
.login-box{
   width: 495px;
   margin: 11% auto;
   margin-top: 258px;
}
.login-box-body{
    /* background: url(/assets/images/plain-high-definition.jpg); */
    background-image: url(/assets/images/114-plain-nd-5.jpg);
   /* background: #fff; */
   padding: 25px;
   border-top: 0;
   color: #666;
   
   align-items: center
}
.login-box-msg{
   margin: 0;
   text-align: center;
   padding: 30px 20px 20px 20px;
   font-size: 25px;
   font-style: oblique;
   font-family: cursive;
   margin-top: -40px;
}
.box{
    width: 600px;
    /* background-color: red; */
    margin: 11%auto;
}